/.vscode
/Dataset_merged_faces_no_faces
/HLS
/IK
/IK.cpp
/Kinmatics
/Kinmatics.drawio.pdf
/Kinmatics.pdf
/Pos1.mp4
/Rename.py
/dataset
/nueralnetwork
/pos1.zip
/pos2.mp4
/pos2.zip
/project-ROS2-pkg
/test.py